.buttonsContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
   max-width: 294px;
   width: 100%;
}

.editableSpanContainer {
   max-width: 294px;
   width: 100%;
}
